@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
    min-height: 100%;
}

@font-face {
    font-family: "BallingerMono";
    src: url("/fonts/WOFF2/BallingerMono-Bold.woff2") format("woff2"),
    url("/fonts/WOFF/BallingerMono-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "BallingerMono";
    src: url("/fonts/WOFF2/BallingerMono-Regular.woff2") format("woff2"),
    url("/fonts/WOFF/BallingerMono-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "BallingerMono";
    src: url("/fonts/WOFF2/BallingerMono-Light.woff2") format("woff2"),
    url("/fonts/WOFF/BallingerMono-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@layer base {
    html {
        font-family: 'BallingerMono', monospace;
        background: linear-gradient(33deg, #181c1c, #1b252c);;
        color: #d2d7cc
    }
    input, textarea {
        background-color: #d2d7cc;
        color: #171414;
    }
    input.border, textarea.border {
        border: 2px solid #d2d7cc;
    }
    input:focus, textarea:focus, button:focus {
        outline: 1px #05d7d7 solid;
    }
    input.border:focus, textarea.border:focus, button.border:focus {
        outline: 0;
        border: 2px solid #05d7d7;
    }
    button.border {
        border: 2px solid #d2d7cc;
    }
    button.border:hover {
        background-color: #1b252c;
        border: 2px solid #05d7d7;
    }
    button:focus {
        outline: 1px #05d7d7 solid;
    }
}
