@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
    height: 100%;
}

@font-face {
    font-family: "BallingerMono";
    src: url("/fonts/WOFF2/BallingerMono-Bold.woff2") format("woff2"),
    url("/fonts/WOFF/BallingerMono-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "BallingerMono";
    src: url("/fonts/WOFF2/BallingerMono-Regular.woff2") format("woff2"),
    url("/fonts/WOFF/BallingerMono-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "BallingerMono";
    src: url("/fonts/WOFF2/BallingerMono-Light.woff2") format("woff2"),
    url("/fonts/WOFF/BallingerMono-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}
